.App {
  text-align: center;
}

.modal {
  animation: fadeOutModal 6s forwards;
}


@keyframes fadeOutModal {

  0%,
  66.666% {
    /*66.666% to keep full opacity for 4 seconds */
    opacity: 1;
  }

  100% {
    opacity: 1;
    /*Fully transparent at 100% to fade out over the last 2 seconds*/
  }
}


.carousel-image {
  width: '100%';
  height: '100vh';
  objectFit: 'cover';
  z-index: 1;
  /* or any number higher than the z-index of fullpage.js elements */
}

/* Fade Section */
.fade-section {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
  height: 100vh;
}

.fade-section.active {
  display: block;
  opacity: 1;
}

/* Navigation Styling */
nav {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.element {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

nav {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Styles for larger screens (default) */
p {
  margin: 20px;
  /* Example margin */
}

/* iPhone SE and similar small screens */
@media screen and (max-width: 640px) {
  p {
    margin: 10px;
    /* Adjusted margin for small screens */
  }
}

/* Medium-sized screens (like iPhone 11, 12, 13, 14 non-Pro) */
@media screen and (min-width: 641px) and (max-width: 1170px) {
  p {
    margin: 15px;
    /* Margin for medium screens */
  }
}

/* Larger screens (like iPhone Pro Max versions) */
@media screen and (min-width: 1171px) {
  p {
    margin: 20px;
    /* Margin for large screens */
  }
}